/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

$ice: #d9dee0;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  width: 100%;
  line-height: 1;
  font-family: Helvetica, sans-serif;
  color: $ice;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// * {
//   background-color: rgba(255, 0, 0, 0.2);
// }
// * * {
//   background-color: rgba(0, 255, 0, 0.2);
// }
// * * * {
//   background-color: rgba(0, 0, 255, 0.2);
// }
// * * * * {
//   background-color: rgba(255, 0, 255, 0.2);
// }
// * * * * * {
//   background-color: rgba(0, 255, 255, 0.2);
// }
// * * * * * * {
//   background-color: rgba(255, 255, 0, 0.2);
// }
// * * * * * * * {
//   background-color: rgba(255, 0, 0, 0.2);
// }
// * * * * * * * * {
//   background-color: rgba(0, 255, 0, 0.2);
// }
// * * * * * * * * * {
//   background-color: rgba(0, 0, 255, 0.2);
// }

@mixin breakpoint($class) {
  @if $class == mobile {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $class == tablet {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $class == laptop {
    @media (min-width: 1440px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: mobile, tablet, or desktop";
  }
}


.homeWrapper {
  position: relative;
  display: grid;
  align-items: center;
  margin: 0 auto;
  max-width: 1440px;
  height: 100vh;
  padding: 0 24px;
  text-align: center;

  @include breakpoint(mobile) {
    padding: 0 14px;
  }

  .homeLogo {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    font-size: 15vw;
    line-height: 14vw;
    font-family: Respira, sans-serif;
    color: $ice;
    padding: 0 14px;
    z-index: 0;

    span {
      font-size: 2vw;
      line-height: 0;
      @include breakpoint(mobile) {
        font-size: 22px;
      }
    }

    @include breakpoint(mobile) {
      font-size: 96px;
      line-height: 96px;
    }
  }
}

.homeGrid {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-gap: 4px;
  height: 85vh;

  :nth-child(1n) {
    margin-top: 10vh;
    grid-column: 1 / span 4;
    height: 55vh;
    background: #434343;
  }
  :nth-child(2n) {
    margin-top: 0;
    grid-column: 8 / span 6;
    height: 42vh;
    background: #c68b90;
  }
  :nth-child(3n) {
    margin-top: 25vh;
    grid-column: 15/19;
    height: 50vh;
    background: #57423c;
  }
  :nth-child(4n) {
    margin-top: -25vh;
    grid-column: 6 / span 6;
    height: 33vh;
    background: #374158;
  }

  @include breakpoint(mobile) {
    grid-gap: 4px;

    :nth-child(1n) {
      margin-top: 0;
      grid-column: 2 / span 8;
      height: 30vh;
      background: #69888bb9;
    }
    :nth-child(2n) {
      margin-top: 8vh;
      grid-column: 12 / span 7;
      height: 35vh;
      background: #c68b90;
    }
    :nth-child(3n) {
      margin-top: 0;
      grid-column: 1 / span 7;
      height: 35vh;
      background: #57423c;
    }
    :nth-child(4n) {
      margin-top: 15vh;
      grid-column: 11 / span 7;
      height: 25vh;
      background: #374158;
    }
  }

  .block {
    position: relative;
    display: grid;
    align-items: center;
    justify-items: center;
    color: white;
    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
    color: $ice;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    mix-blend-mode: lighten;

    &:hover {
      background: $ice;
      color: black;
      mix-blend-mode: normal;
    }

    @include breakpoint(mobile) {
      font-size: 9px;
    }
  }
}

.socialLinks {
  position: fixed;
  bottom: 15px;

  @include breakpoint(mobile) {
    left: 14px;
  }

  a {
    display: inline-block;
    text-decoration: none;
    margin-right: 15px;
    color: $ice;
    font-size: 11px;
    font-weight: 200;
    opacity: 0.4;

    &:hover {
      opacity: 1;
    }
  }
}
