.projectBlock {
  position: relative;
  transition: 0.4s ease-in-out;
  cursor: pointer;

  .box {
    position: relative;
    transition: 0.4s ease-in-out;
    cursor: pointer;

    .imgBox {
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        transform: scale(1);
        transition: 0.4s ease-in-out;
      }
    }

    .details {
      display: grid;
      align-items: center;
      justify-items: center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      overflow: hidden;
      background: rgba(0, 0, 0, 0.9);
      opacity: 0;
      color: white;
      transition: 0.4s ease-in-out;

      .projectBlock-marquee {
        overflow: hidden;
        position: relative;

        h2 {
          color: $ice;
          text-transform: uppercase;
          font-size: 8vw;
          font-family: $titling;
          font-weight: 700;
          -webkit-transform: translateX(0) translateZ(0);
          transform: translateX(0) translateZ(0);
          -webkit-animation: marquee 8s linear infinite;
          animation: marquee 8s linear infinite;

          @include breakpoint(mobile) {
            font-size: 14vw;
          }
        }
      }
    }

    &:hover {
      .imgBox {
        img {
          transform: scale(1.2);
          transition: 0.4s ease-in-out;
        }
      }
      .details {
        opacity: 0.95;
        transition: 0.4s ease-in-out;
      }
    }
  }

  h3 {
    font-size: 11px;
    font-family: $titling;
    text-transform: uppercase;
    font-weight: 500;
    color: $ice;
    margin: 16px 0 8px;
    color: $ice;
  }

  p {
    font-size: 14px;
    line-height: 1.6;
    font-weight: 200;
    color: $gray;
  }
}

.block1 {
  margin-top: 0;
  grid-column: 1 / span 5;

  .box {
    height: 70vh;
    background: #6a8a8db9;
    max-height: 700px;
  }

  @include breakpoint(mobile) {
    margin-top: 0;
    grid-column: span 1;

    .box {
      height: 35vh !important;
    }
  }
}

.block2 {
  margin-top: 6vh;
  grid-column: 7 / span 6;
  max-height: 600px;

  .box {
    height: 55vh;
    background: $dirtyRose;
    max-height: 550px;
  }

  @include breakpoint(mobile) {
    margin-top: 0;

    grid-column: span 1;

    .box {
      height: 35vh !important;
    }
  }
}

.block3 {
  margin-top: 10vh;
  grid-column: 3 / span 9;

  .box {
    height: 65vh;
    background: #57423c;
    max-height: 650px;
  }

  @include breakpoint(mobile) {
    margin-top: 0;

    grid-column: span 1;

    .box {
      height: 35vh !important;
    }
  }
}

.block4 {
  margin-top: 20vh;
  grid-column: 1 / span 6;

  .box {
    height: 55vh;
    background: #374158;
    max-height: 550px;
  }

  @include breakpoint(mobile) {
    margin-top: 0;
    grid-column: span 1;

    .box {
      height: 35vh !important;
    }
  }
}

.block5 {
  margin-top: 10vh;
  grid-column: 8 / span 5;

  .box {
    height: 70vh;
    background: #374158;
    max-height: 700px;
  }

  @include breakpoint(mobile) {
    margin-top: 0;

    grid-column: span 1;

    .box {
      height: 35vh !important;
      margin-bottom: 15px;
    }
  }
}

.projectBlock {
  @include breakpoint(mobile) {
    margin-bottom: 4rem;
  }
}

@keyframes marquee {
  0% {
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%);
  }
}

@-moz-keyframes marquee {
  0% {
    -moz-transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}
@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}
