.home {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;

  .homeWrapper {
    position: relative;
    display: grid;
    align-items: center;
    margin: 0 auto;
    max-width: 1440px;
    height: 100%;
    padding: 0 4em;
    text-align: center;

    @include breakpoint(laptop) {
      max-width: 1040px;
    }

    @include breakpoint(mobile) {
      padding: 0;
    }
  }

  .homeGrid {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-gap: 4px;
    height: 75vh;

    .homeBlock {
      position: relative;
      display: grid;
      align-items: center;
      justify-items: center;
      text-decoration: none;
      font-family: $titling;
      font-size: 8px;
      text-transform: uppercase;
      font-weight: 400;
      color: $ice;
      transition: all 0.3s ease-in-out;
      mix-blend-mode: lighten;
      transform: translateY(0);

      &:hover {
        cursor: pointer;
        background: $ice;
        color: black;
        mix-blend-mode: normal;
        transform: translateY(-6px);
      }
    }

    :nth-child(1n) {
      margin-top: 12vh;
      grid-column: 1 / span 4;
      height: 40vh;
      background: #6a8a8db9;
    }

    :nth-child(2n) {
      margin-top: 0;
      grid-column: 8 / span 6;
      height: 32vh;
      background: $dirtyRose;
    }

    :nth-child(3n) {
      margin-top: 20vh;
      grid-column: 15/19;
      height: 40vh;
      background: #57423c;
    }

    :nth-child(4n) {
      margin-top: -22vh;
      grid-column: 6 / span 6;
      height: 29vh;
      background: #374158;
    }

    @include breakpoint(mobile) {
      height: 65vh;
      grid-gap: 4px;

      :nth-child(1n) {
        margin-top: 0;
        grid-column: 2 / span 8;
        height: 25vh;
        background: #6a8a8db9;
      }

      :nth-child(2n) {
        margin-top: 4vh;
        grid-column: 11 / span 8;
        height: 28vh;
        background: #c68b90;
      }

      :nth-child(3n) {
        margin-top: 0;
        grid-column: 1 / span 8;
        height: 28vh;
        background: #57423c;
      }

      :nth-child(4n) {
        margin-top: 6vh;
        grid-column: 10 / span 8;
        height: 28vh;
        background: #374158;
      }
    }
  }

  .socialLinks {
    display: grid;
    grid-template-columns: auto auto;
    position: fixed;
    bottom: 15px;
    left: 16px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;

    a {
      position: relative;
      font-family: $haylard;
      display: inline-block;
      text-decoration: none;
      color: $ice;
      font-size: 14px;
      font-weight: 300;
      opacity: 0.6;
      text-align: left;

      &:before {
        position: absolute;
        bottom: 0;
        content: "";
        width: 100%;
        height: 1px;
        background: white;
        opacity: 0;
      }

      &:hover {
        opacity: 1;

        &:before {
          position: absolute;
          bottom: 0;
          content: "";
          width: 100%;
          height: 1px;
          background: white;
          opacity: .4;
        }
      }
    }
  }
}

.homeLogo {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  font-size: 13vw;
  line-height: 13vw;
  font-family: 'Respira-Black';
  color: $ice;
  padding: 0 14px;
  z-index: 0;

  span {
    font-size: 2vw;
    line-height: 0;
    @include breakpoint(mobile) {
      font-size: 22px;
    }
  }

  @include breakpoint(mobile) {
    font-size: 96px;
    line-height: 96px;
  }
}

.home-header {
  text-align: left;
  width: 50%;
  min-width: 700px;

  h4 {
     font-size: 11px;
     font-family: $titling;
     font-weight: 500;
     text-transform: uppercase;
     margin-bottom: 15px;
     opacity: .4;
  }

  h2 {
    font-size: 44px;
    line-height: 56px;
    font-weight: 500;
  }
}
