/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "helvetica", sans-serif;
  font-weight: 300;
  background: black;
  color: white;
  width: 100%;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'respira-black';
  src: url("../../assets/fonts/respira-black-webfont.woff") format("woff2"), url("../../assets/fonts/respira-black-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'respira-black';
}

nav {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.innerNav {
  max-width: 1640px;
  padding: 10px 16px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.innerNav .logo {
  display: block;
  height: auto;
  width: auto;
}

.innerNav .logo svg {
  cursor: pointer;
}

.innerNav .menuBtnCon {
  height: 100%;
  width: 100%;
  text-align: right;
}

.innerNav .menuBtnCon .menu {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 100%;
  float: right;
  color: #cad1d4;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
}

.homeWrapper {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 1440px;
  height: 100vh;
  padding: 0 16px;
  text-align: center;
}

@media (min-width: 1040px) {
  .homeWrapper {
    max-width: 1140px;
  }
}

.homeWrapper .homeLogo {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 13vw;
  line-height: 13vw;
  font-family: Respira, sans-serif;
  color: #cad1d4;
  padding: 0 14px;
  z-index: 0;
}

.homeWrapper .homeLogo span {
  font-size: 2vw;
  line-height: 0;
}

@media (max-width: 768px) {
  .homeWrapper .homeLogo span {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .homeWrapper .homeLogo {
    font-size: 96px;
    line-height: 96px;
  }
}

.homeGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[18];
      grid-template-columns: repeat(18, 1fr);
  grid-gap: 4px;
  height: 85vh;
}

.homeGrid :nth-child(1n) {
  margin-top: 10vh;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  height: 55vh;
  background: #6a8a8db9;
}

.homeGrid :nth-child(2n) {
  margin-top: 0;
  -ms-grid-column: 8;
  -ms-grid-column-span: 6;
  grid-column: 8 / span 6;
  height: 35vh;
  background: #c68b90;
}

.homeGrid :nth-child(3n) {
  margin-top: 26.5vh;
  -ms-grid-column: 15;
  -ms-grid-column-span: 4;
  grid-column: 15/19;
  height: 48vh;
  background: #57423c;
}

.homeGrid :nth-child(4n) {
  margin-top: -25vh;
  -ms-grid-column: 6;
  -ms-grid-column-span: 6;
  grid-column: 6 / span 6;
  height: 35vh;
  background: #374158;
}

@media (max-width: 768px) {
  .homeGrid {
    height: 80vh;
    grid-gap: 4px;
  }
  .homeGrid :nth-child(1n) {
    margin-top: 0;
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    grid-column: 2 / span 8;
    height: 30vh;
    background: #6a8a8db9;
  }
  .homeGrid :nth-child(2n) {
    margin-top: 8vh;
    -ms-grid-column: 12;
    -ms-grid-column-span: 7;
    grid-column: 12 / span 7;
    height: 35vh;
    background: #c68b90;
  }
  .homeGrid :nth-child(3n) {
    margin-top: 2vh;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    grid-column: 1 / span 7;
    height: 30vh;
    background: #57423c;
  }
  .homeGrid :nth-child(4n) {
    margin-top: 11vh;
    -ms-grid-column: 11;
    -ms-grid-column-span: 7;
    grid-column: 11 / span 7;
    height: 26vh;
    background: #374158;
  }
}

.homeGrid .block {
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  color: white;
  font-weight: 500;
  font-size: 11px;
  text-transform: uppercase;
  color: #cad1d4;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  mix-blend-mode: lighten;
}

.homeGrid .block:hover {
  background: #cad1d4;
  color: black;
  mix-blend-mode: normal;
}

@media (max-width: 768px) {
  .homeGrid .block {
    font-size: 9px;
  }
}

.socialLinks {
  position: fixed;
  bottom: 15px;
  left: 16px;
}

.socialLinks a {
  display: inline-block;
  text-decoration: none;
  margin-right: 15px;
  color: #cad1d4;
  font-size: 11px;
  font-weight: 200;
  opacity: 0.4;
}

.socialLinks a:hover {
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */