@mixin breakpoint($class) {
  @if $class == mobile {
    @media (max-width: 414px) {
      @content;
    }
  } @else if $class == tablet {
    @media (max-width: 1024px) {
      @content;
    }
  } @else if $class == laptop {
    @media (min-width: 1024px) and (max-width: 1440px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: mobile, tablet, or desktop";
  }
}

.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 2em;

  @include breakpoint(laptop) {
    max-width: 1140px;
  }

  @include breakpoint(mobile) {
    padding: 0 16px;
  }
}
