@import url("https://use.typekit.net/zxo1cwd.css");

@font-face {
  font-family: 'Respira-Black';
  src: url('../assets/fonts/Respira-Black.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Respira-Black';
  src:  url('../assets/fonts/Respira-Black.otf')  format('opentype'), 
  url('../assets/fonts/Respira-Black.ttf')  format('truetype'), 
  url('../assets/fonts/Respira-Black.svg#Respira-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'Respira-Black', sans-serif;
  font-weight: 700;
}
