// $COLORS
$ice: rgb(202, 209, 212);
$gray: #434343;
$dirtyRose: #C68B90;
$burntOrange: #965948;
$navy: #374158;
$titling: "titling-gothic-fb-extended", sans-serif;
$haylard:  "halyard-display", sans-serif;